@model MVC.Models.User;

@{

}
<div class="card">
    <div class="card-header">
        <h2>User Detail</h2>
    </div>
    <div class="card-body">
<h3>ID: @Model.Id</h3>
<h3>Name: @Model.username</h3>
<h3>Role: @Model.role</h3>
<h3>Email: @Model.email</h3>
    </div>
</div>






