@model MVC.Models.Products;

@{

}
<div class="card">
    <div class="card-header">
        <h2>Product Detail</h2>
    </div>
    <div class="card-body">
<h3>ID: @Model.ID</h3>
<h3>Name: @Model.Name</h3>
<h3>Price: @Model.Price</h3>
<h3>Code: @Model.Code</h3>
    </div>
</div>






