@model IEnumerable<MVC.Models.Products>;

@{

}

<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="NewProduct">Add New Product</a>
<table border="0" class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Products products in Model)
    {
     <tr>
      <td>@products.ID</td>
      <td>@products.Name</td>
      <td>@products.Price</td>
      <td>
        <a asp-action="Detail" asp-route-id="@products.ID">View</a> || <a>View</a> || <a>View</a>
      </td>

      
    </tr>
    }
  </tbody>
</table>




